<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tienda de Yoga | yogalife</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3826f3919c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:ital,wght@0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/indexStyles.css">
    </head>
    <body>
        <header class="main-header">
            <div class="top-header">
                <div class="logo">
                    <a href="/">
                        <i class="fas fa-hamsa"></i>
                        <h1>yogalife</h1>
                    </a>
                    
                </div>
                <form class="search-form" action="#" method="GET">
                    <input type="text" class="search-input" name="search-input" placeholder="Busca tu coleccion favorita!">
                    <button type="submit" class="search-button" name="search-button"><i class="fa fa-search"></i></button>
                </form>
                </div>
                
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Catalogo</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href="/login">Ingresá <i class="far fa-laugh"></i></a></li>
                    <li><a href="/shopcart">Shop <i class="fas fa-dolly"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
            <a href="#" class="burger-buttom">
                <i class="fas fa-om"></i>
            </a>
            </div>
        </header>
        <section class="main-image">
            <img src="images/main-image.jpg" alt="main-image">
        </section>
        <main>
            <section class="last-visit">
                <h3>Ultima colección</h3>
                <div class="products">
                    <article>
                        <a href="/product-detail"><img src="/images/productsImages/IMG_3867.JPG" alt="product" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-hamsa"></i>
                            <p class="price">$5.200</p>
                            <h4 class="description">Calza cotton swasti</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/images/productsImages/IMG_4614.JPG" alt="product" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-hamsa"></i>
                            <p class="price">$3.200</p>
                            <h4 class="description">Remera crop suma</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/images/productsImages/IMG_4333.JPG" alt="product" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-hamsa"></i>
                            <p class="price">$5.000</p>
                            <h4 class="description">Calza cotton 7/8</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/images/productsImages/IMG_4081.JPG" alt="product" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-hamsa"></i>
                            <p class="price">$3.000</p>
                            <h4 class="description">Crop X</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="offers">
                <h3>Ofertas</h3>
                <div class="products">
                    <article>
                        <img src="/images/productsImages/IMG_4275.JPG" alt="product" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-hamsa"></i>
                            <p class="price">$4.800</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Musculosa Moon</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/images/productsImages/IMG_4184.JPG" alt="product" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-hamsa"></i>
                            <p class="price">$3.500</p>
                            <p class="discount">20% off</p>
                            <h4 class="description">Calza lulea classic</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/images/productsImages/IMG_4421.JPG" alt="product" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-hamsa"></i>
                            <p class="price">$3.000</p>
                            <p class="discount">10% off</p>
                        <h4 class="description">Calza 7/8 Polisap lulea</h4>
                        </div>
                    </article>
                    <article>
                        <img src="/images/productsImages/IMG_4157.JPG" alt="product" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-hamsa"></i>
                            <p class="price">2.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Remera manga larga agni</h4>
                        </div>
                    </article>
                </div>  
            </section>
        </main>
        <footer>
            <div>
                <i class="fas fa-comment-dollar"></i>
                <h4>¡Envío gratis!</h4>
                <p>Envío gratis para compras por un monto superior a $ 4.500.</p>
            </div>
            <div>
                <i class="fas fa-dolly-flatbed"></i>
                <h4>¡Devolucion gratis !</h4>
                <p>¿No te gusta? ¡ Devolvelo! Simplemente contacta tu vendedor.</p>
            </div>
            <div>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Recibimos tarjetas y cualquier medio de pago admitido por MercadoPago!</p>
            </div>
            <div class="footer-contact">
                <h4>Seguinos!</h4>
                <p>Somos yogalife, cuidamos cada detalle para que la experiencia dentro y fuera del mat contribuya a esa búsqueda que cada uno tiene. </p>
                <span class="footer-contact">
                    <i class="fab fa-facebook"></i>
                    @yogalife
                </span>
                <span class="footer-contact">
                    <i class="fab fa-instagram"></i>
                    @yogalife
                </span>
                <span class="footer-contact">
                    <i class="far fa-envelope"></i>
                    contacto@yogalife.com
                </span>
                <div class="new-updates">
                    <form class="new-updates" action="#" method="GET">
                        <input type="text" class="new-updates" name="new-updates" placeholder="Dejanos tu mail aquí para mas noticias">
                        <button type="submit" class="new-updates" name="new-updates"><i class="far fa-paper-plane"></i></button>
                    </form>
                </div>
                
            </div>
        </footer>       
    </body>
</html>