<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yogalife</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="slogan">
            <h3>Mensaje de la tienda</h3>
        </div>
        <div>
            <nav>
                <img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="logo"> <!--Preguntar si va dentro del nav la igamen --> 
                <ul class="menu">
                    <li><a href="*">menu1</a></li>
                    <li><a href="*">menu1</a></li>
                    <li><a href="*">menu1</a></li>
                </ul>
                <input type="search">
                <div class="iconsnav"> <!--estilos iguales-->  
                <i class="fas fa-search"></i>
                <i class="fas fa-user"></i>
                <a href="/shoppingcart"><i class="fas fa-shopping-cart"></i></a>
                </div>   
            </nav>
        </div>
    </header>
<div class="carruselInner">
        <div class="carrusel-inner"><img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="carrusel">
        <h3>text on image</h3> <!-- prototipo de carrusel -->
    </div>
    <div class="carrusel-inner"><img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="carrusel">
        <h3>text on image</h3> <!-- prototipo de carrusel -->
    </div>
    <div class="carrusel-inner"><img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="carrusel">
        <h3>text on image</h3> <!-- prototipo de carrusel -->
    </div>
</div>
<setion class=Female>  
<div class="ImageFemale"> <!-- imagen principal de la pagina de ropa femenina -->
    <img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="">
</div>
<div class="carruselItemFemale">
    <div class="imageFemale1"><!-- imagen 1 de la pagina de ropa femenina -->
        <img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="">
    </div>
    <div class="imageFemale2"><!-- imagen 2 de la pagina de ropa femenina -->
        <img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="">
    </div>
    <div class="imageFemale3"><!-- imagen 3 de la pagina de ropa femenina -->
        <img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="">
        <button class="carruselfemalecontrolprev" type="button" data-bs-target="carruselItemFemale" data-bs-slide="prev"></button>
        <button class="carruselfemalecontrolnext" type="button" data-bs-target="carruselItemFemale" data-bs-slide="next"></button>
    </div>
</div>
</setion>
<section class=Male>
<div class="ImageMale"> <!-- imagen principal de la pagina de ropa masculina -->
    <img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="">
    <div class="carruselItemMale">
        <div class="imageMale1"><!-- imagen 1 de la pagina de ropa masculina -->
            <img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="">
        </div>
        <div class="imageMale2"><!-- imagen 2 de la pagina de ropa masculina -->
            <img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="">
        </div>
        <div class="imageMale3"><!-- imagen 3 de la pagina de ropa masculina -->
            <img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="">
            <button class="carruselmalecontrolprev" type="button" data-bs-target="carruselItemmale" data-bs-slide="prev"></button>
            <button class="carruselmalecontrolnext" type="button" data-bs-target="carruselItemmale" data-bs-slide="next"></button>
        </div>
</div>
</section>
    <div class="Slogan2">
        <h2>slogan de la página</h2>
    </div>
    <div class="Quiénes somos">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, voluptates odit, ea sed quam quis dignissimos nisi est ullam, itaque cum beatae ut error tempora facere non in vero molestias.</p>
    </div>
    <footer>
        <section>
            <ul class="title1">
                <li><a href="*">item1</a></li>
                <li><a href="*">item2</a></li>
                <li><a href="*">item3</a></li>
                </ul>
            <ul class="title2">
                <li><a href="*">item4</a></li>
                <li><a href="*">item5</a></li>
                <li><a href="*">item6</a></li>
        </section>
        <section>
            <div class="iconosfooter">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fas fa-map-marked-alt"></i>
                <i class="far fa-envelope"></i>
            </div>
        </section>
        <section>
            <h4> News & updates </h4>
            <input type="search">
            <button type="follow">Follow</button>
        </section>
    </footer>
</body>
</html>