<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>login</title>
</head>
<body>
    <div class="loginWrap">
        <div class="SiginHtml">
            <h2 class="siginTitle">INGRESAR</h2>
            <div class="form">
                <form method="post">
                    <div class="">
                    <label for="User"></label>
                    <input type="text" name="User" required="" id="User" placeholder="User" class="user">  
                    </div>
                    <div class="form">
                    <label for="password"></label>
                    <input type="password" name="password" required="" id="password" placeholder="Password" class="password">
                    </div>
                    <button class="button" type="submit">Enviar</button>
                </form>
            </div>
            </div>
            <div>
            <a href=""><img src="" alt=""></a>
        </div>
    </div>
</body>
</html>