<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:ital,wght@0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/product-detail-styles.css">
</head>
<body>

    <header class="main-header">
        HEADER
    </header>

    <main >
      <div class="product-detail">
        <section class="product-images">
            <div>
                <img class="main-picture" src="/images/productsImages/IMG_3924.JPG" alt="img">
                <div class="img-box">
                    <img class="img-inbox" src="/images/productsImages/IMG_3861.JPG" alt="img">
                    <img class="img-inbox" src="/images/productsImages/IMG_3863.JPG" alt="img">
                    <img class="img-inbox" src="/images/productsImages/IMG_3867.JPG" alt="img">
                </div>
            </div>
        </section>
        <section class="product-description">
            <h1 class="product-name">Legging 7/8 Cotton Swasti</h1>
            <p class="price"> $ 5.400 </p>
            <a href="/images/TABLA DE TALLES 2021 MUJER.jpg">ver tabla de talles</a>
            <form action=# method="get">
                <div class="color">
                    <p>Color:</p>
                    <select name="color" >
                        <option value="Bordo"></option>
                    </select>   
                </div>
                <div class="size">
                    <p>Talle:</p>
                    <select name="size">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <p>¡Casi es tuyo!</p>
                <input class="amount" type="number" value="1">
                <button class= "add" type="submit" name="send">Añadir carrito</button>
            </form>
                <article class="product-description">
                    <h4>Descripción del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et enim, eaque minus porro placeat error rem temporibus in.</p>
                </article>
        </section>
      </div>  
    </main>
    
    <footer class="main-footer">
        FOOTER
    </footer>
</body>
</html>