<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
        <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link rel="stylesheet" href="CSS/registerStyles.CSS">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
        <div class="slogan">
            <h3>Mensaje de la tienda</h3>
        </div>
        <div>
            <nav class="navbar">  
                 <ul class="menu">
                    <li><a href="*">menu1</a></li>
                    <li><a href="*">menu1</a></li>
                    <li><a href="*">menu1</a></li>
                </ul>
                <img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="logo"> <!--Preguntar si va dentro del nav la igamen -->
                <div class="iconsnav"> <!--estilos iguales-->  
                <input type="search">    
                <i class="fas fa-search"></i>
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
                </div>   
            </nav>
        </div>
    </header>

    <main>

    <section class="formSection">  
        <h2>REGISTRATE</h2>
        <h4>Registrate con</h4>
     <div id="signInGoogleFacebook">  
        <div id="my-signin2"></div> <!--hast la linea 60 esta copiado de Google-->  
  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

  <h4>O</h4>  
  <h4>TU NOMBRE</h4>
  <form class="form" action="TBD" method="POST">
    <div id="registerForms">
        <label for="name"></label>
        <input type="text" class="box" id="name"   name="name" placeholder="Nombres">

        <label for="lastname"></label>
        <input type="text" class="box" id="lastname"   name="lastname" placeholder="Apellidos">
    </div>
  <h4>FECHA DE NACIMIENTO</h4>
        <label for="birtDate"></label>
        <input type="date" class="box" id="birthDate"  name="birthDate" placeholder="Seleccionar fecha de nacimiento"    min="1900-01-01"    max="2021-01-01">

   <h4>DATOS DE ACCESO</h4>
        <label for="email"></label>
        <input type="email" class="box" name="email" id="email" placeholder="E-mail">
        
        <label for="password"></label>
        <input type="password"  name="passsword"  class="box"  id="password" placeholder="Contraseña">
         
        <label for="passwordConfirmation"></label>
        <input type="passwordConfirmation"  name="passwordConfirmation"  class="box"  id="passwordConfirmation" placeholder="Confirmar contraseña">
       
       <div class="TC">
        <label for="T&C"><input type="checkbox"  name="T&C"  id="T&C"    value="Accept T&C">Acepto terminos y condiciones</label>
        
       </div> 

        <button type="submit"><a class="submit" href="/">Registrar</a></button>
    </form>
</section>  

 <section class="imgSection">       
    <img id="registerImg" src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="logo">
</section>  

    <footer class="footer"> 
        <section>
            <ul class="title1">
                <li><a href="*">item1</a></li>
                <li><a href="*">item2</a></li>
                <li><a href="*">item3</a></li>
                </ul>
            <ul class="title2">
                <li><a href="*">item4</a></li>
                <li><a href="*">item5</a></li>
                <li><a href="*">item6</a></li>
        </section>
        <section>
            <div class="iconosfooter">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fas fa-map-marked-alt"></i>
                <i class="far fa-envelope"></i>
            </div>
        </section>
        <section>
            <h4> News & updates </h4>
            <input type="search">
            <button type="follow">Follow</button>
        </section>
    </footer>
    
</body>
</html>