<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarritodeCompras</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/shopcartstyles.css">
</head>
<body>
    <header>
        <div class="slogan">
            <h3>Mensaje de la tienda</h3>
        </div>
        <div>
            <nav>
                <img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="logo"> <!--Preguntar si va dentro del nav la igamen --> 
                <ul class="menu">
                    <li><a href="*">menu1</a></li>
                    <li><a href="*">menu1</a></li>
                    <li><a href="*">menu1</a></li>
                </ul>
                <input type="search">
                <div class="iconsnav"> <!--estilos iguales-->  
                <i class="fas fa-search"></i>
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
                </div>   
            </nav>
        </div>
    </header>
    <main>
        <section>       
            <h2>Carrito de Compras</h2>
            <article>
                <div class="producto1">
                    <img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="">
                    <h4>Descripción del producto</h4>
                    <p>Filtros del producto</p>
                    <p>precio</p>
                    <input type="number">Unidades</input>
                    
                    <button type="submit">Editar compra</button>
                </div>
            </article>
            <article>
                <div class="producto2">
                    <img src="https://static3.mujerhoy.com/www/multimedia/202004/28/media/cortadas/posturas-de-yoga-para-adelgazar-guerrero-kFHG--644x483@MujerHoy.jpg" alt="">
                    <h4>Descripción del producto</h4>
                    <p>Filtros del producto</p>
                    <p>precio</p>
                    <input type="number">Unidades</input>

                    <button type="submit">Editar compra</button>
                </div>
            </article>
            <div class="Cierroelcarrito">
                <button type="submit">Continuar comprando</button>
                <button type="submit">Cerrar la compra</button>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <ul class="title1">
                <li><a href="*">item1</a></li>
                <li><a href="*">item2</a></li>
                <li><a href="*">item3</a></li>
                </ul>
            <ul class="title2">
                <li><a href="*">item4</a></li>
                <li><a href="*">item5</a></li>
                <li><a href="*">item6</a></li>
        </section>
        <section>
            <div class="iconosfooter">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fas fa-map-marked-alt"></i>
                <i class="far fa-envelope"></i>
            </div>
        </section>
        <section>
            <h4> News & updates </h4>
            <input type="search">
            <button type="follow">Follow</button>
        </section>
    </footer>
</body>
</html>