*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}


/* HEADER */

div.top-header{
    display: flex;
    padding: 10px 0px 10px 0px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header.main-header{
    background-color:  #716F81 ;
    padding: 0px 10px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

header div.logo a{
    text-decoration: none;
}

header div.logo{
    width: 50%;
}

header div.logo a{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0px 0px 12px;
}

header div.logo a i {
    font-size: 30px;
    color:#F2E1C1;
}

header div.logo a h1{
    font-size: 15px;
    padding-left: 5px;
    color:#F2E1C1;
    font-variant: inherit;
    margin-left: 10px;
}

header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header div form.search-form{
    width: 50%;
    display: flex;
    }

header div form input.search-input{
    background-color: #F2DCBB;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    border-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 90%;
    height: 60%;
    margin: 12px 0px;
}

button.search-button{
    background-color: #F2DCBB;
    border: 1px solid #000;
    color: #666;
    width: 10%;
    border-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 10%;
    margin: 12px 0px;
}

header div.burger-menu{
    background-color:  #716F81 ;
    padding: 20px;
}

a.burger-buttom {
    display: block;
    background-color: #F2E1C1 ;
    border-radius: 50%;
    color: black;
    font-size: 20px;
    height: 45px;
    margin: auto;
    padding: 10px;
    width: 45px;
    text-align: center;
}

header nav.main-navbar{
    display: none;
    min-height: 50px;
}

header nav.main-navbar ul{
    list-style: none;
}

header nav.main-navbar a{
    text-decoration: none;
    color: #F2E1C1;
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
    font-style:bold;
}

div.smart-button{
    position: fixed;
    top: 148px;
    left: 0;
    height:0;
    width: 100%;
    z-index: 1;
    background-color: #716F81;
    overflow: hidden;
    transition: 0.5s;
}

header img.user-avatar{
    width: 58px;
}

ul.navbar-list{
    margin: 17px 0px 140px 0px;
}

ul.navbar-list li  {
    margin: 0px 15px 9px 15px;
    text-align: center;
}

ul.navbar-list li a{
    text-decoration: none;
    color: #F2E1C1;
    display: inline-block;
    padding: 4px 0px;
    font-size: 15px;
    font-style:bold;
}

i#close-icon{
    font-size: 33px;
}

@media (min-width: 420px){
    header div.logo a i {
        font-size: 40px;
        color:#F2E1C1;
    }
    
    header div.logo a h1{
        font-size: 25px;
        padding-left: 5px;
        color:#F2E1C1;
        font-variant: inherit;
    }

    a.burger-buttom {
        height: 50px;
        width: 50px;
        font-size: 22px
    }

    div.smart-button{
        top: 175px;
    }

    header div form input.search-input{
        padding: 15px;
    }

    ul.navbar-list li a{
        font-size: 17px;
    }

@media (min-width: 769px){

    /* HEADER */

    header.main-header{
        width: 100%;
    }

    header.top-header{
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    header div.logo a h1{
        font-size: 35px;
    }

    header div form.search-form{
        width: 30%;
    }
    
    header nav.main-navbar{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    header nav.main-navbar ul{
        display: flex;
    }

    header nav.main-navbar li{
        margin: 0px 5px;
    }

    header nav.main-navbar li a{
        font-size: 17px;
        margin:0px 5px 10px 5px;
        transition: all 600ms;
    }

    header nav.main-navbar li a:hover{
        font-size: 18px;
        background-color: #B97A95 ;
        padding: 5px;
        box-shadow: #F2E1C1 500px;
        border-radius: 8px;
        border: #F2E1C1 solid 1px;

    }

    header nav.main-navbar li a i{
        font-size: 17px;
        transition: all 400ms;
    }

    header nav.main-navbar li a:hover i{
        font-size: 23px;
    }

    header div.user-avatar-container{
        display: flex;
    }
    
    header img.user-avatar {
        width: 20px;
        border-radius: 50%;
        margin: -2px 4px 0px 0px
    }
    
    .burger-menu{
        display: none;
    }




    /* HEADER 770 */

    header div.logo a i{
        font-size: 45pX;
    }

    Header div.logo a h1{
        font-size: 25px;
    }

    header nav.main-navbar li a{
        font-size: 20px;
    }

    header nav.main-navbar li a i{
        font-size: 8px;
    }

    header nav.main-navbar li a i{
        font-size: 12px;
    }

    header img.user-avatar {
        width: 32px;
    }

}

@media (min-width: 1200px){

    /*HEADER 1200*/

    .search-form{
        max-width: 300px;
        height: 60px;
    }

    header .top-header, header nav.main-navbar{
        max-width: 1200px;
        margin: auto;
        align-items: center;
    }

    header nav.main-navbar li{
        margin: 0px 10px;
    }

    header nav.main-navbar li a{
        font-size: 19px;
    }

    header nav.main-navbar li a i{
        font-size: 16px;
    }

    header img.user-avatar {
        width: 30px;
        margin: -2px 8px 0px 0px;
    }

}
}