*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #f7ecb3db;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

/* MAIN */

a.article {
    text-decoration: none;
}

.price{
    padding: 15px 0px 0px 0px;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 500;
    font-style: italic;
    color: rgba(41, 68, 64, 0.856);
}

p.sale{
    font-size: 25px;
    font-family: 'Raleway';
    font-weight: 600;
    font-style: italic;
    color: rgb(14, 143, 121);



}

h3,
.description{
    color: rgba(41, 68, 64, 0.856);
    padding:5px 0px 0px 0px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 15px;
}

h2.section-title{
    color: #807e76;
}

section.main-image{
    display: none;
}

section.every-collections{
    margin-top: 130px
}

main{
    width: 90%;
    margin: 0 auto;
    margin-top: 160px;
    min-height: 500px
    ;
}

main section article{
    background-color: #ffc93e42;    
    margin: 10px 0px;
    border-radius: 25px;
}

main section article img{
    width: 100%;
    opacity: 0.82;
    padding: 7px;
    border-radius: 25px;
    margin-bottom: 10px;
}

main section article i,
.discount{
    color: #F7DC6F;
}

main section article p,
.discount{
    color: rgb(51, 53, 52);
}


main section article i{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #117A65;
    background-color: #117A65;
    border-radius: 50%;
    position: absolute;
    right: 124px;
    top: -14px;   
}

main section h3{
    margin: 20px 0px;
    text-align: center;
}

article div.main-article{
    position: relative;
    width: 100%;
    border-top: 1px solid #117A65;
    padding: 15px;
}

section.empresa-b{
    display: none;
}

@media (min-width: 419px){

    /* SECCION DE ARTICULOS */

    main{
        margin-top: 220px;
    }

    main section article:hover .description{
        font-size: 25px;
        font-style: initial;
        font-family: "Raleway" bold sans-serif black;
    }

    main section article i{
        transition: all 450ms;
    }

    main section article i:hover{
        transform: rotate(360deg);
    }


    main section article{
        box-shadow: none;   
        width: 46%;
    }

    main section article:hover {
        box-shadow: 0px 0px 25px rgb(236, 181, 0);

    }

    h3.section-title {
        font-size: 30px;
    }

    div.products{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


}

@media (min-width: 769px){

    /* MAIN 720 */
    main{
        margin-top: 0px;
    }
    /* IMAGEN PRINCIPAL 720*/

    section.main-image{
        display: flex;
        background-color: #F7DC6F;
        width: 100%;
        margin-top: 91px;
    }
    
    section.main-image img{
        width: 100%;
        opacity: 0.88;
        margin:auto;
        display:block;
    }

    /* MAIN 770 */

     h3.section-title{
        color: rgba(41, 68, 64, 0.856);
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 40px;
        text-align: left;
    }

    main section article{
        width: 23%;
    }

    div.products{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    section.empresa-b{
        display: inline-block;
        margin: 20px;
    }

    section.empresa-b h3{
        color: rgba(41, 68, 64, 0.856);
        padding: 5px 0px 0px 0px;
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 40px;
    }

    div.empresa-b{
        display: flex;
    }

    div.empresa-b img{
        width: 73%;
        opacity: 0.84;
    }

    div.empresa-b p{
        width: 22%;
        margin: auto;
        display: block;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Raleway';
        color: black;
        padding: 30px 0px;

    }

    span.empresa-b {
        font-weight: 600;
        font-size: 16px;
    }

   

}