*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #f7ecb361;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
    margin: 0px 0px 18px 0px;

}

h1{
    margin: 0px 0px 18px 0px;
    font-weight: 600;
    font-size: xx-large;
}

h4{
    margin: 0px 0px 10px 0px;
    font-weight: 600;
    font-size: 16px;
    color: rgba(16, 46, 48, 0.945);
}


/*MAIN*/


main div.product-detail{
    padding: 30px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 135px;

}

main section.product-images div.product-images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #117a653d;
    border-radius: 3px;
    margin: auto;
    max-width: 73%;
}

main div section.product-images div.main-picture {
    width: 100%;
    margin:auto;
    border-radius: 8px;
    opacity: 0.9;
    text-align: center;
    
}

main div section.product-images div.main-picture img{
    width: 95%;
}

main section.product-images div.img-box{
    display: none;
    flex-wrap: nowrap;
    justify-content: space-around;
    opacity: 0.9;
}

main section.product-images div.img-box img{
    width: 100%;
    border-radius: 8px;
    width: 100%;
    border-radius: 1px;
}

main div div.product-description{
    background-color: #117a653d;
    border-radius: 3px;
    margin:auto;
}

main div div.product-description .sale{
    margin: 0px 0px 10px 0px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(4, 156, 37);

}



div.product-description form{
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
}

    form div.color-button{
        display: flex;
        width: 35px;
        position: relative;
    }

    form div.color-button input.color{
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        
    }

    form div.color-button img.color:hover {
        border: #059ab4 3px solid;


    }

    form div.color-button img.color{
        width: 35px;
        height: 100%;
        border-radius: 50%;
        border: 3px rgb(165, 162, 162) solid;
        transition: all 150ms;
        margin: 6px 3px 0px 3px;
    }

    label{
        margin: 10px 0px;
    }

     input.size{
        width: 35px;
        height: 35px;
        font-size: 12px;
        font-weight: 600;
        color: rgb(75, 72, 72);
        border-radius: 50%;
        border: solid 1px rgb(77, 74, 74);
        transition: all 450ms;
        border: 3px rgb(165, 162, 162) solid;
        
    }

    input.size:hover{
        background-color: #04614e;
        color:white; 
    }

    form input.amount, button.add {
        text-align: center;
        margin: 5px 0px;
        width: 70px;
        height: 35px;
        border-radius: 20px;
        font-size: 12px;
        transition: all 450ms;
        border: 3px rgb(165, 162, 162) solid;
        background-color: #E9F7EF;
        font-weight: 600;
    }

    form input.amount{
        width: 38px
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
         margin: 0; 
    }

    input[type=number] { -moz-appearance:textfield; }


    form input.amount:hover, button.add:hover{
        background-color: #04614e;
        color:white;
    }

    h9{
        margin: 20px 0px 10px 0px;
    }

    div.description {
        border: solid pink 5px;
        text-align: center;
    }

    div.description h4{
        font-weight: 600;
        font-family: 'Raleway';
    }

    div.description p{
        font-size: 15px;
        font-weight: 500;
        font-family: 'Raleway';
    }


    div.button-container{
        display: flex;

    }

    div.edit-button{
        text-align: center;
        margin: 5px 0px;
        width: 70px;
        height: 35px;
        border-radius: 20px;  
        transition: all 250ms;
        border: 3px rgb(165, 162, 162) solid;
        background-color: #E9F7EF;    
        padding: 6px 0px 25px 0px;
    }

    div.edit-button a {
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        color: black;
        transition: all 250ms;
        background: none
    }

    div.edit-button:hover, .edit-button a:hover{
        background-color: #04614e;
        color:white;
    }

    div.edit-button button.edit-button{
        background-color: #E9F7EF;
        padding: 7px;
        margin: 0px 0px 0px 7px;
        border-radius: 20px;
    }

    button.delete-button{
        width: 70px;
        height: 35px;
        margin: 0px 0px 0px 10px;
        text-align: center;
        border-radius: 20px;
        font-weight: 600;
        border: 3px rgb(165, 162, 162) solid;
        background-color: #E9F7EF;    
        transition: all 250ms;
    }
    button.delete-button:hover{
        background-color: #04614e;
        color:white;
    }

    div.product-description form.buttons-container{
        margin: 7px 0px 0px 0px;
    }


@media (min-width: 419px){

 
    /* MAIN 420 */

    main {
        margin-top: 90px;    
    }

    main div.product-detail{
        margin-top: 180px;
    
    }

    main section.product-images div.product-images{
        max-width: 57%;
    }


}

@media (min-width: 450px){
    
    main section.product-images div.product-images {
        max-width: 55%;
    }

@media (min-width: 500px){
    
main section.product-images div.product-images {
    max-width: 49%;
}

}

@media (min-width: 550px){
    
    main section.product-images div.product-images {
        max-width: 45%;
    }
    
    }

@media (min-width: 600px){

    /* MAIN 770 */

    main {
        margin-top: 140px;
        margin-bottom: 30px;   
    }

    main section.product-images div.product-images{
        margin: none;
        max-width: 100%;
    }

    main div.product-detail{
        margin: auto;
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-around;
        flex-wrap: nowrap;
        padding: 0px;
        max-width: 900px;

    }

    main section.product-images{
        width: 46%;
        box-shadow: none;
        display: flex;
        flex-direction: column;
    }

    main section.product-images div.product-images{
        flex-direction: row;
    }

    main section.product-images div.product-images a{
        align-self: center;
    }

    main div section.product-images div.main-picture{
        width: 65%;

    }

    

    main section.product-images div.img-box{
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    main section.product-images div.img-box div.mini-img-container{
        border-radius: 1px;
        width: 30%;
    }

    section.product-description div.product-description{
         border: none;

    }

    main div section.product-description{
        width: 50%;
    }

    section.product-description div.product-description{
    background-color:  #fbeb97 ;
    padding: 35px;
    width: 100%;
    margin: 15px 0px 0px 0px;
    min-width: 290px;
    }

    section.product-description div.product-description h1{
        font-size: 18px;
    }

    section.product-description div.product-description p.price{
        font-size: 20px;
        font-weight: 600;
        padding: 5px 0px;
        color: rgba(41, 68, 64, 0.856);
    }

    div.product-description form div{
        font-size: 20px;
        font-weight: 500;
        color: #282828;
        padding: 0px 0px 10px 0px;
    }

    div.product-description form div div.size-button{
        padding: 10px 0px 0px 0px;
    }

    div.product-description form p{
        font-size: 20px;
        padding: 0px 0px 10px 0px;
    }
    

}

@media (min-width: 881px){

    section.product-description div.product-description{
        border: none;
        box-shadow: none;
        
   }

}




}