*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #f7ecb361;
}

h3{
    font-size: 20px; 
}

p{
    font-size:12px;
    font-weight: 600;
    color: rgb(53, 51, 51);
}

/* Main */
div.titulo-container{
    margin-bottom: 15px;
}

h3{
    padding: 150px 20px 0px 20px;
    color: #117a65;
    text-align: center;
}

main section div.shop{
    padding: 30px 20px 0px 20px;
    display: flex;
}

article.product-detail{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fbeb97;
    border-radius: 15px;
    margin: auto;
}

div.product-images{
    width: 20%;
}

.main-picture {
    padding: 5px;
    border-radius: 20px;
    opacity: 0.9;
    width: 80px;
    height: 100px;
}

div.product-description{ 
    padding: 10px 10px 10px 20px;
    width: 50%;

}

.product-name{
    font-size: 16px;
    font-weight: 600;
}

div.product-description button {
    text-decoration: none;
    color: #F7DC6F;
    padding: 5px 0px;
    font-size: 10px;
    background-color: #04614e;
}

div.button-container{
    margin:auto;
}

i.icon-trash{
    font-size: 20px;
}

button.delete-button{
    background: none;
    border: none;
}



div.Cierroelcarrito{
    display:flex;
    margin: 10px;
    justify-content: space-evenly;
}

div.Cierroelcarrito button {
    color: rgb(99, 94, 94);
    padding: 8px;
    font-size: 10px;
    font-weight: 600;
    background-color: #e7cf6fa4;
    border-radius: 20%;
    border:solid 2px rgb(99, 94, 94);
}

@media (min-width: 419px){

    article.product-detail{
        max-width: 420px;
    }
}


@media (min-width: 769px){
    h3{
        font-size: 30px;
        color: rgb(78, 76, 76);
    }

    article.product-detail{
        max-width: 790px;
    }

    .main-picture {
        width: 180px;
        height: 200px;
    }

    div.product-description{ 
        padding: 30px 30px 30px 60px;
    
    }

    .product-name{
        font-size: 26px;
    }

    p{
        font-size:20px;
    }
    
    i.icon-trash{
        font-size: 40px;
    }

    div.Cierroelcarrito{
        height:40px
    }
    
    div.Cierroelcarrito button {
        font-size: 20px;
        font-family: 'Raleway''sans-serif';

    }
}