*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #f7ecb361;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}




/*MAIN*/


main div.product-detail{
    padding: 30px 20px 0px 20px;
    display: flex;
    flex-direction: column;

}

main section.product-images div.product-images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #117a653d;
    border-radius: 20px;
    box-shadow: 3px 2px 3px 0px #117a65;
}

main div section.product-images img.main-picture {
    padding: 5px;
    width: 100%;
    margin:auto;
    height: auto;
    border-radius: 8px;
    opacity: 0.9;
    
}

main section.product-images div.img-box{
    width: 90%;
    margin:auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    opacity: 0.9;
}

main section.product-images div.img-box img{
    width: 100%;
    padding: 5px;
    height: auto;
    border-radius: 8px;
}

main div section.product-description{
    padding: 35px 0px 0px 0px;
}

main div div.product-description{
    background-color: #117a653d;
    box-shadow: 3px 2px 3px 0px #117a65;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    height: 380px;
}

main div div.product-description .sale{
    margin: 0px 0px 5px 0px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(23, 110, 69);

}



div.product-description form{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
}

    form div.color-button{
        display: flex;
        width: 35px;
        position: relative;
    }

    form div.color-button input.color{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        
    }

    form div.color-button img.color:hover {
        border: #059ab4 3px solid;


    }

    form div.color-button img.color{
        width: 110%;
        height: 100%;
        border-radius: 50%;
        border: 3px rgb(165, 162, 162) solid;
        transition: all 150ms;
        margin: 6px 3px 0px 3px;
    }



     input.size{
        width: 35px;
        height: 35px;
        font-size: 12px;
        font-weight: 600;
        color: rgb(75, 72, 72);
        border-radius: 50%;
        border: solid 1px rgb(77, 74, 74);
        transition: all 450ms;
        border: 3px rgb(165, 162, 162) solid;
        
    }

    input.size:hover{
        background-color: #04614e;
        color:white; 
    }

    form input.amount, button.add {
        text-align: center;
        margin: 5px 0px;
        width: 60px;
        height: 35px;
        border-radius: 20px;
        font-size: 12px;
        transition: all 450ms;
        border: 3px rgb(165, 162, 162) solid;
        background-color: #E9F7EF;
        font-weight: 600;

    }

    form input.amount:hover, button.add:hover{
        background-color: #04614e;
        color:white;
    }

    div.description {
        margin: auto;
        width: 80%;
        padding: 20px 0px 0px 0px;
    }

    div.description h4{
        padding: 10px;
        font-size: 25px;
        font-weight: 600;
        font-family: 'Raleway';
    }

    div.description p{
        font-size: 15px;
        font-weight: 500;
        font-family: 'Raleway';
    }


@media (min-width: 419px){

 
    /* MAIN 420 */

    main {
        margin-top: 90px;    
    }

}

@media (min-width: 769px){

    /* MAIN 770 */

    main {
        margin-top: 140px;    
    }

    main div.product-detail{
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-around;
        flex-wrap: nowrap;
        padding: 0px;

    }

    main section.product-images{
        padding: 20px 20px 0px 20px;
        box-shadow: none;
        height: 490px;
    }

    main section.product-images div.product-images{
        flex-direction: row;
        box-shadow: none;
        background: none;
    }


    main div section.product-images img.main-picture{
        width: 276px;
        height: 427px;
        margin: 0px;
        padding: 0px;
        border: 1px solid #117A65

    }

    div.product-images div.img-box{
        width: 75%;
        flex-direction: column;
    }

    main section.product-images div.img-box img{
        width: 101px;
        height: 136px;
        margin: 0px 0px 5px 10px;
        padding: 0;
        border: 1px solid #117A65;
    }


    main div section.product-description{
        width: 60%;
        padding: 0px;
    }

    section.product-description div.product-description{
         border: none;
         box-shadow: none;
         height: 470px;
    }

    section.product-description div.product-description{
    background-color:  #fbeb97 ;
    padding: 35px;
    }

    section.product-description div.product-description h1{
        font-size: 25px;
        padding: 0px 0px 15px 0px;
        color: rgba(41, 68, 64, 0.856);
        font-weight: 600;
    }

    section.product-description div.product-description p.price{
        font-size: 25px;
        font-weight: 600;
        padding: 5px 0px;
        color: rgba(41, 68, 64, 0.856);
    }

    div.product-description form div{
        font-size: 20px;
        font-weight: 500;
        color: #282828;
        padding: 0px 0px 10px 0px;
    }

    div.product-description form div div.size-button{
        padding: 10px 0px 0px 0px;
    }

    div.product-description form p{
        font-size: 20px;
        padding: 0px 0px 10px 0px;
    }
    



    div.description {
    background-color:  #fbeb97 ;
    padding: 20px;
    } 
}
