body{
    background-color:#ffffff;
}

main{
    margin-top: 175px;
    font-family: 'Raleway' , sans-serif;
}

main .formSection{
    width: 100%;
    text-align: center;
}

main h2 {
    text-align: center;
    color:#681368;
}

main div.form-container{
    padding: 10px 10px 10px 10px;
    max-width: 300px;
    margin: 0px auto;
}


div.input-container{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

div.cost-price-container, div.discount-stock-container{
    display:flex;
    justify-content: space-evenly;
}

#discount, #stock, #price, #cost{
    width: 75px;
    text-align: center;
    height: 35px;
    border-radius: 5px;
}



label.form-label {
    font-size: 15px;
    font-weight: 600;
    margin: 0px 0px 0px 0px;
    width: 260px;
    height: 30px;
    align-self: center;
}

label.form-labelnumber {
    width: 100px;
    height: 42px;
    font-size: 13px;
    font-weight: 600;
}


input.form-input{
    width: 260px;
    height: 30px;
    align-self: center;
    border-radius: 10px;
    border: none;
    padding: 5px;
    transition: all 450ms;
    font-family: 'Raleway' , sans-serif;
    background:#F2E1C1;
}

input:hover.form-input{
    background-color:#F6AE99 ;
    width: 315px;
}

div#ultima_coleccion{
    display:flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 20px;
}

label#ultima_coleccion{
    margin-top: 10px;
    width: 230px;
}

select.form-input{
    width: 260px;
    height: 30px;
    align-self: center;
    border-radius: 10px;
    border: none;
    padding: 5px;
    transition: all 450ms;
    font-family: 'Raleway' , sans-serif;
    background: #F2E1C1;
    -webkit-appearance: none;
    -moz-appearance: none;
}

textarea.form-input{
    width: 270px;
    height: 130px;
    align-self: center;
    border-radius: 10px;
    border: none;
    font-family: 'Raleway' , sans-serif;
    font-size: 14px;
    padding: 10px;
    transition: all 450ms;
    background:#F2E1C1;
}

textarea:hover.form-input{
    background-color:white ;
    width: 350px;
}

input.file-input{
    width: 260px;
    height: 30px;
    align-self: center;
    border-radius: 10px;
    border: none;
    padding: 5px;
    transition: all 450ms;
    font-family: 'Raleway' , sans-serif;
    background:rgba(255, 255, 255, 0.959);   
}

.button{
    text-align: center;
    margin: 20px 0px 0px 0px;
    width: 130px;
    height: 50px;
    border-radius: 40px;
    font-size: 18px;
    transition: all 450ms;
    border: 3px rgb(165, 162, 162) solid;
    background: #F2E1C1;
    align-self: center;
    transition: all 450ms;
}

button:hover.button{
    background-color:#716F81 ;
    color: white;
    width: 140px;
    font-size: 19px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

input[type="file"] {
    opacity: 1;
    background: none;
    width: 200px;
    height: 32px;
    display: inline-block;
  }

.select-input{
    width: 260px;
    height: 30px;
    align-self: center;
    border-radius: 10px;
    border: none;
    padding: 5px;
    transition: all 450ms;
    font-family: 'Raleway' , sans-serif;
    background: rgba(255, 255, 255, 0.959);
    -webkit-appearance: none;
    -moz-appearance: none;
}

div.errorstittle ul p, div.errorscost ul p, div.errorsprice ul p,
div.errorsdiscount ul p, div.errorsdescription ul p, div.errorsstock ul p,
div.errorsimg1 ul p, div.errorsimg2 ul p, div.errorsimg3 ul p, div.errorsimg4 ul p {
    color: rgb(197, 13, 13);
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px 0px 0px;
}

@media (min-width: 419px) {

    main{
        margin-top: 126px;
    }

    main div.form-container{
        padding: 10px 35px;
        max-width: 700px;
    }

    main h2 {
        margin-top: 195px;
    }

    label.form-label {
        font-size: 17px;
        width: 350px;
        height: 33px;
    }

    input.form-input{
        width: 300px;
        height: 33px;
    }

    .select-input{
        width: 300px;
    }
    
    div.ultima_coleccion-container{
        display: block;
        margin: 0px 140px 40px 140px;
    }  
    
    
    label#ultima_coleccion{
        margin-top: 10px;
        width: 75%;
    }
    
    textarea.form-input{
        width: 300px;
        height: 150px;;
        font-size: 15px;
    }
    
    input.file-input{
        width: 350px;
        height: 33px;   
    }
    
}

@media (min-width: 769px){

    main{
        margin-top: 128px;
        display:flex
    }


    main .imgSection-product{
        width: 50%;
        text-align: center;  
        background-image: url(/images/img-editform.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.90;
        margin: 0px 75px 0px 0px;
    }

    main h2 {
        margin-top: 30px;
    }

    label.form-label {
        font-size: 20px;
        width: 420px;
        height: 35px;
    }

    input.form-input{
        font-size: 14px;
        width: 350px;
        height: 35px;
        font-weight: 600;
    }

    input:hover.form-input{
        background-color:#f8f8f8 ;
        width: 360px;
    }

    div.ultima_coleccion-container{
        margin: 30px 140px 40px 140px;
    }  
    
    select.form-input{
        transition: 350ms;
    }

    select:hover.form-input{
        width: 50px;
        height: 50px;
        background-color:#F6AE99 ;
    }

    textarea.form-input{
        font-size: 20px;
        width: 350px;
        height: 180px;
    }

    textarea:hover.form-input{
        background-color:white;
        width: 360px;    }
    
    input.file-input{
        width: 420px;
        height: 35px;   
    }

    div.errorstittle ul p, div.errorscost ul p, div.errorsprice ul p,
    div.errorsdiscount ul p, div.errorsdescription ul p, div.errorsstock ul p,
    div.errorsimg1 ul p, div.errorsimg2 ul p, div.errorsimg3 ul p, div.errorsimg4 ul p {
    font-size: 18px;
    margin: 10px 0px 0px 0px;
    }


}