*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #f7ecb361;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
    margin: 0px 0px 18px 0px;

}

h1{
    margin: 0px 0px 18px 0px;
    font-weight: 600;
    font-size: xx-large;
}

h4{
    margin: 0px 0px 10px 0px;
    font-weight: 600;
    font-size: 20px;
    color: rgba(16, 46, 48, 0.945);
}


/*MAIN*/


main div.product-detail{
    padding: 30px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 135px;

}

main section.product-images div.product-images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #117a653d;
    border-radius: 20px;
    box-shadow: 3px 2px 3px 0px #117a65;
    margin: auto;
    max-width: 80%;
}

main div section.product-images img.main-picture {
    padding: 5px;
    width: 100%;
    margin:auto;
    height: auto;
    border-radius: 8px;
    opacity: 0.9;
    
}

main section.product-images div.img-box{
    width: 90%;
    margin:auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    opacity: 0.9;
}

main section.product-images div.img-box img{
    width: 100%;
    padding: 5px;
    height: 100%;
    border-radius: 8px;
}

main div section.product-description{
    padding: 35px 0px 0px 0px;
}

main div div.product-description{
    background-color: #117a653d;
    box-shadow: 3px 2px 3px 0px #117a65;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    margin:auto;
    height: 495px;
}

main div div.product-description .sale{
    margin: 0px 0px 10px 0px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(4, 156, 37);

}



div.product-description form{
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
}

    form div.color-button{
        display: flex;
        width: 35px;
        position: relative;
    }

    form div.color-button input.color{
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        
    }

    form div.color-button img.color:hover {
        border: #059ab4 3px solid;


    }

    form div.color-button img.color{
        width: 35px;
        height: 100%;
        border-radius: 50%;
        border: 3px rgb(165, 162, 162) solid;
        transition: all 150ms;
        margin: 6px 3px 0px 3px;
    }

    label{
        margin: 10px 0px;
    }

     input.size{
        width: 35px;
        height: 35px;
        font-size: 12px;
        font-weight: 600;
        color: rgb(75, 72, 72);
        border-radius: 50%;
        border: solid 1px rgb(77, 74, 74);
        transition: all 450ms;
        border: 3px rgb(165, 162, 162) solid;
        
    }

    input.size:hover{
        background-color: #04614e;
        color:white; 
    }

    form input.amount, button.add {
        text-align: center;
        margin: 5px 0px;
        width: 70px;
        height: 35px;
        border-radius: 20px;
        font-size: 12px;
        transition: all 450ms;
        border: 3px rgb(165, 162, 162) solid;
        background-color: #E9F7EF;
        font-weight: 600;
    }

    form input.amount{
        width: 38px
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
         margin: 0; 
    }

    input[type=number] { -moz-appearance:textfield; }


    form input.amount:hover, button.add:hover{
        background-color: #04614e;
        color:white;
    }

    h9{
        margin: 20px 0px 10px 0px;
    }

    div.description {
        margin: 50px 30px 10px 30px;
        width: 80%;
        padding: 10px;
        text-align: center;
    }

    div.description h4{
        padding: 10px;
        font-size: 25px;
        font-weight: 600;
        font-family: 'Raleway';
    }

    div.description p{
        font-size: 15px;
        font-weight: 500;
        font-family: 'Raleway';
    }


    div.buttons-container{
        display: flex;

    }

    div.edit-button{
        text-align: center;
        margin: 5px 0px;
        width: 70px;
        height: 35px;
        border-radius: 20px;  
        transition: all 250ms;
        border: 3px rgb(165, 162, 162) solid;
        background-color: #E9F7EF;    
        padding: 6px 0px 25px 0px;
    }

    div.edit-button a {
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        color: black;
        transition: all 250ms;
        background: none
    }

    div.edit-button:hover, .edit-button a:hover{
        background-color: #04614e;
        color:white;
    }

    div.edit-button button.edit-button{
        background-color: #E9F7EF;
        padding: 7px;
        margin: 0px 0px 0px 7px;
        border-radius: 20px;
    }

    button.delete-button{
        width: 70px;
        height: 35px;
        margin: 0px 0px 0px 10px;
        text-align: center;
        border-radius: 20px;
        font-weight: 600;
        border: 3px rgb(165, 162, 162) solid;
        background-color: #E9F7EF;    
        transition: all 250ms;
    }
    button.delete-button:hover{
        background-color: #04614e;
        color:white;
    }

    div.product-description form.buttons-container{
        margin: 7px 0px 0px 0px;
    }


@media (min-width: 419px){

 
    /* MAIN 420 */

    main {
        margin-top: 90px;    
    }

    main div.product-detail{
        margin-top: 180px;
    
    }

    main section.product-images div.product-images{
        width: 65%;
    }

    main div div.product-description{
        width: 65%;
    }

}

@media (min-width: 769px){

    /* MAIN 770 */

    main {
        margin-top: 140px;    
    }

    main section.product-images div.product-images{
        margin: none;
        max-width: 100%;
    }

    main div.product-detail{
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-around;
        flex-wrap: nowrap;
        padding: 0px;
        max-width: 900px;

    }

    main section.product-images{
        padding: 0px 35px 0px 25px;
        box-shadow: none;
        height: 490px;
    }

    main section.product-images div.product-images{
        flex-direction: row;
        box-shadow: none;
        background: none;
        height: 520px;
    }

    main section.product-images div.product-images a{
        align-self: center;
    }

    main div section.product-images img.main-picture{
        width: 276px;
        height: 427px;
        margin: 0px;
        padding: 0px;
        border: 1px solid #117A65

    }

    div.product-images div.img-box{
        width: 75%;
        flex-direction: column;
    }

    main section.product-images div.img-box img{
        width: 130px;
        height: 136px;
        margin: 0px 0px 5px 10px;
        padding: 0;
        border: 1px solid #117A65;
    }


    main div section.product-description{
        width: 60%;
        padding: 0px;
        margin: 0px 0px 15px 0px;
    }

    section.product-description div.product-description{
         border: none;
         box-shadow: none;
         height: 605px;
    }

    section.product-description div.product-description{
    background-color:  #fbeb97 ;
    padding: 35px;
    width: 100%;
    margin: 15px 0px 0px 0px;
    }

    section.product-description div.product-description h1{
        font-size: 26px;
        padding: 0px 0px 10px 0px;
        color: rgba(16, 54, 49, 0.856);
        font-weight: 600;

    }

    section.product-description div.product-description p.price{
        font-size: 20px;
        font-weight: 600;
        padding: 5px 0px;
        color: rgba(41, 68, 64, 0.856);
    }

    div.product-description form div{
        font-size: 20px;
        font-weight: 500;
        color: #282828;
        padding: 0px 0px 10px 0px;
    }

    div.product-description form div div.size-button{
        padding: 10px 0px 0px 0px;
    }

    div.product-description form p{
        font-size: 20px;
        padding: 0px 0px 10px 0px;
    }
    
    div.description {
        background-color: #fbeb97;
        padding: 20px;
        margin: 25px 0px 15px 92px;
        border-radius: 10px;
        margin: auto;
        max-width: 900px;
        min-width: 683px;
    } 
}

@media (min-width: 881px){

    section.product-description div.product-description{
        border: none;
        box-shadow: none;
        height: 555px;
        
   }

}

@media (min-width: 1200px){

    section.product-description div.product-description{
        max-height: 515px;
        
   }

}




