*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #f7ecb3db;
}

h2{
    margin:20px 0px;
}

h3{
    font-size: 24px;
}

h4{
    margin: 0px 0px 20px 0px;
}

p{
    font-size: 12px;
}

form.form{
    margin: 0px 0px 50px 0px;
}
/* MAIN */
main{
    margin-top: 200px;   
}

main .text{
    margin-top: 20px;
}

main .login{
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.login:hover {
    color: rgba(17, 122, 101, 1);
}

main .formSection{
    width: 100%;
    text-align: center;
    margin-top: 180px;
}

main .box{
    width: 220px;
    display: block;
	padding: 10px 0px 10px 20px;
    margin: 15px auto;
	border-radius:25px;
    border: transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 1, 0.59);
    transition: background-color , width 0.5s;
}
main .box:hover{
    background-color:rgba(245, 187, 61, 0.829);
    width: 250px;
}

main .TC{
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}


.button{
    margin-top: 35px;
}
.submit {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    width: 200px; 
    border-radius:20px;
    padding:15px 15px;
	background:rgba(17, 122, 101, 0.7);
    color: rgb(247, 220, 111, 1);
    border: none;
    transition: 0.5s;
    margin: 0px 80px 0px 30px;
}

.submit:hover {
    color: white;
    top: 0;
    left: 0;
    background-color: rgba(247, 220, 111, 1);
    color: rgba(17, 122, 101, 1);
    background-size: cover;
    
}

div.button button{
    width: 90px;
    height: 40px;
    margin: 0px 0px 0px 10px;
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
    border: 3px rgb(165, 162, 162) solid;
    background-color: #E9F7EF;    
    transition: all 250ms;
}

div.button button:hover{
    background-color: #04614e;
    color:white;
}

label.file-input{
    margin-top: 20px;
    font-weight: 600;

}

.select-input{
    width: 200px;
    height: 30px;
    align-self: center;
    border-radius: 10px;
    border: none;
    padding: 5px;
    transition: all 450ms;
    font-family: 'Raleway' , sans-serif;
    background: rgba(255, 255, 255, 0.959);
    -webkit-appearance: none;
    -moz-appearance: none;
}


div.errorsfullname, div.errorsdni, div.errorsaddress,
div.errorsemail, div.errorspassword, div.errorsimage, div.errorstyc{
    color: rgb(219, 0, 0);
    font-weight: 600;

}

@media (min-width: 419px){
    /* MAIN 420 */
    main{
        margin-top: 120px;
    }
    #tittle-h2{
        margin-top: 215px;
    }

}

@media (min-width: 769px){

    /* MAIN 770 */

    main {
        display: flex;
    }

    main .box{
        font-size: 16px;
    }

    
    main .formSection{
        width: 65%;
        text-align: center;  
        margin-top: 0px;
    }   
    
    main .imgSection{
        width: 50%;
        text-align: center;  
        background-image: url(/images/yogalifebackground.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.69;
        border-radius: 0px;
        margin: 0px 75px 0px 0px;

    }
    main .imgSection-edit{
        width: 50%;
        text-align: center;  
        background-image: url(/images/img-editform.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.69;
        margin: 0px 75px 0px 0px;

    }
    
    #tittle-h2{
        margin-top: 40px;
    }


@media (min-width: 1200px){

 /* MAIN 1200 */

 main {
    display: flex;
}

main .formSection{
    width: 60%;
    text-align: center;  
}   

main .imgSection{
    width: 40%;
    text-align: center;  
    background-image: url(/images/yogalifebackground.png);
    background-repeat: no-repeat;
    background-size: cover;

}
main .imgSection-edit{
    width:40%;
    text-aling: center;
}   

}
}