*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    background-color: whitesmoke;
    color: lightslategrey;
    font-family: 'Lato', sans-serif;

}

h2{
    padding:15px 20px;
    
}


h4{
    padding:15px 20px;
   
}

.slogan {
    width: auto;
    text-align: center;
}

.navbar{
    width: auto;
    display: flex;
    justify-content: space-between;

}

.menu li {
    display: inline;
    justify-content: space-between;
}

.iconsNav {
    display: inline-block;
    justify-content: space-between;
}

#signInGoogleFacebook{
    padding:15px 20px;
    border-radius: 25px
}

.form{
    width: 100%;
    margin: auto;
    align-items: center;
}

.form input{
    border-radius:25px;
    background:rgba(238, 126, 195, 0.685);
    margin-top: 20px;
    border: transparent;
    width: 95%;
   
    
       }


.TC{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    margin: 0px 0px 0px 0px;
      
}

 
.form button {
    background-color: black;
    border: none;
    color: transparent;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;;
    margin: 15px;
    border-radius: 8px;
    
}

.form button :hover{
    cursor: pointer;
}

.submit{
    text-decoration: none;  
    color: blanchedalmond;
    background-color: transparent;
}


.footer{
    width: auto;
    display: flex;
    justify-content: space-between;

}

.iconosfooter{
    display: flex;
    flex-direction: column;
}

@media (max-width: 425px) {
    #registerImg{
        display: none;
    }
 }

 @media(min-width: 426px){
     .formSection{
         display: inline-block;
         width: 35%;
     }

     .imgSection{
         display: inline-block;
         width: 64%;
     }

     #registerImg{
        display: block;
        margin: auto;
        height: 100%;
        width: auto;
    }
 }
