<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head',{title:'login', style:'loginStyles.css'}) %>

<body>
    <div class="loginWrap">
        <div class="SiginHtml">
            <h2 class="siginTitle">INGRESAR</h2> 
            <div class="backForm">
                <form method="POST" action="/user/login">
                    <div class="formUser">
                    <label for="email"></label>
                    <input type="text" name="email" required id="User" placeholder="Usuario" class="user" style="color: white; font-weight: bold;">  
                    <% if (locals.errors && errors.email) { %>
                        <p><%= errors.email.msg%></p>
                    <% } %>
                    </div>
                    <div class="formPassword">
                    <label for="password"></label>
                    <input type="password" name="password" required="" id="password" placeholder="Contraseña" class="password" style="color: white; font-weight: bold;">
                    </div>
                    <h5 class="register"> <a href="/user/register" style="text-decoration: none; color: white;">¿Aun no estas registrado?.</a></h2>
                    <div class="rememberUser-container">
                        <input type="checkbox" class="remember-checkbox" name="rememberUser">Recordame
                    </div>
                    <div>
                    <button class="button" type="submit">Ingresar</button>
                    </div>
                </form>
            </div>
            </div>
            
            <div>
                
        </div>
    </div>
    <%- include('./partials/footer')%>   
</body>
</html>