<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include ('./partials/head',{title:'Ingresa tu nuevo producto', style:'productCreateForm.css'}) %>
<body>
    <!-- Header -->
    <%- include ('./partials/header') %>

 <main>
    <div class="form-container">
        <form action="/products/store" method="POST" enctype="multipart/form-data">
        <div class="input-container">
           <label for="titulo" class="form-label">Prenda</label>       
            <input type="text" id="titulo" name="titulo" class="form-input">
        </div>
        <div class="input-container">
            <label for="precio" class="form-label">Precio</label>       
             <input type="number" id="precio" name="precio" class="form-input">
         </div>
         <div class="input-container">
            <label for="oferta" class="form-label">Descuento</label>       
             <input type="number" id="oferta" name="oferta" placeholder="- %" class="form-input">
         </div>
         <!-- <div class="input-container">
            <label for="color" class="form-label">Color</label>
            <input type="text" id="color" name="color" class="form-input"> 
         </div> -->
         <div class="input-container">
             <label for="ultima_coleccion" class="form-label"> Pertenece a Ultima Coleccion?</label>
             <select name="ultima_coleccion" id="ultima_coleccion" class="form-input">
                 <option value="true"> Si </option>
                 <option value="false"> No </option>
             </select>
         </div>
         <div class="input-container">
             <label for="descripcion" class="form-label"></label>
             <textarea name="descripcion" id="descripcion" class="form-input"></textarea>
         </div>
         <div class="input-container">
            <label for="img1" class="form-label">Imagen principal</label>
            <input type="file" name="img1" id="img1" class="form-input">
         </div>
         <div class="input-container">
            <label for="img2" class="form-label">Imagen adicional</label>
            <input type="file" name="img2" id="img2" class="form-input">
         </div>
         <div class="input-container">
            <label for="img3" class="form-label">Imagen adicional</label>
            <input type="file" name="img3" id="img3" class="form-input">
         </div>
         <div class="input-container">
            <label for="img4" class="form-label">adicional adic</label>
            <input type="file" name="img4" id="img4" class="form-input">
         </div>
         <div class="input-container">
            <button type="submit" class="create-buttom">Guardar producto</button>
         </div>   
         

         





        </form>















    </div>
 </main>   
    <!-- Footer -->
    <%- include('./partials/footer')%>
</body>
</html>