<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include ('./partials/head',{title:'Registra tu usuario', style:'registerStyles.css'}) %>
<body>
    <!-- Header -->
    <%- include ('./partials/header') %> 

<main>

<section class="formSection">   
        <h2 class="text">REGISTRATE / <a href="/login" class="login">INGRESA</a> </h2>
        <h4 class="text">Registrate con</h4>
        <h4 class="text">TU NOMBRE</h4>
   
  <form class="form" action="/user/register" method="POST" enctype="multipart/form-data">
    <div id="registerForms">
        <label for="name"></label>
        <input type="text" class="box" id="name"   name="name" placeholder="Nombres">

        <label for="lastname"></label>
        <input type="text" class="box" id="lastname"   name="lastname" placeholder="Apellidos">
    </div>
  <h4 class="text">FECHA DE NACIMIENTO</h4>
        <label for="birthDate"></label>
        <input type="date" class="box" id="birthDate"  name="birthDate" placeholder="Seleccionar fecha de nacimiento"    min="1900-01-01"    max="2021-01-01">

   <h4 class="text">DATOS DE ACCESO</h4>
        <label for="email"></label>
        <input type="email" class="box" name="email" id="email" placeholder="E-mail">
        
        <label for="password"></label>
        <input type="password"  name="passsword"  class="box"  id="password" placeholder="Contraseña">
         
        <label for="passwordConfirmation"></label>
        <input type="passwordConfirmation"  name="passwordConfirmation"  class="box"  id="passwordConfirmation" placeholder="Confirmar contraseña">

        <label for="image" class="file-input">FOTO DE PERFIL</label>
        <input type="file" name="image" id="image" class="box">

        <div class="TC">
        <label for="T&C"><input type="checkbox"  name=" "  id="T&C"    value="Accept T&C">Acepto terminos y condiciones</label>
        </div> 

        <div class="button">
        <button type="submit">Registrar</button>
        </div>

    </form>
</section>  

<section class="imgSection">       
   <!-- <img id="registerImg" src="/images/yogalifebackground.png" alt="ImageYogalife">-->
</section>  

</main>

<!-- Footer -->
<%- include('./partials/footer')%>       
    
</body>
</html>