<footer>
    <div>
        <i class="fas fa-comment-dollar"></i>
        <h4>¡Envío gratis!</h4>
        <p>Envío gratis para compras por un monto superior a $ 4.500.</p>
    </div>
    <div>
        <i class="fas fa-dolly-flatbed"></i>
        <h4>¡Devolucion gratis !</h4>
        <p>¿No te gusta? ¡ Devolvelo! Simplemente contacta tu vendedor.</p>
    </div>
    <div>
        <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Recibimos tarjetas y cualquier medio de pago admitido por MercadoPago!</p>
    </div>
    <div class="footer-contact">
        <h4>Seguinos!</h4>
        <p>Somos yogalife, cuidamos cada detalle para que la experiencia dentro y fuera del mat contribuya a esa búsqueda que cada uno tiene. </p>
        <span class="footer-contact">
            <i class="fab fa-facebook"></i>
            @yogalife
        </span>
        <span class="footer-contact">
            <i class="fab fa-instagram"></i>
            @yogalife
        </span>
        <span class="footer-contact">
            <i class="far fa-envelope"></i>
            contacto@yogalife.com
        </span>
        <div class="new-updates">
            <form class="new-updates" action="#" method="GET">
                <input type="text" class="new-updates" name="new-updates" placeholder="Dejanos tu mail aquí para mas noticias">
                <button type="submit" class="new-updates" name="new-updates"><i class="far fa-paper-plane"></i></button>
            </form>
        </div>
        
    </div>
</footer>