<header class="main-header">
    <div class="top-header">
        <div class="logo">
            <a href="/">
                <i class="fas fa-hamsa"></i>
                <h1>yogalife</h1>
            </a>
            
        </div>
        <form class="search-form" action="/products/search" method="GET">
            <input type="text" class="search-input" name="wanted" placeholder="Busca tu coleccion favorita!">
            <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
        </form>
        </div>
        
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="/products">Catalogo</a></li>
            <li><a href="/#ofertas">Ofertas</a></li>
            <li><a href="/products/create">Vender</a></li>
            <li><a href="/#empresa-b">Nosotros</a></li>
        </ul>
        <ul class="right-navbar">
            <li><a href="/login">Ingresá <i class="far fa-laugh"></i></a></li>
            <li><a href="/productCart">Shop <i class="fas fa-dolly"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
    <a href="#" class="burger-buttom">
        <i class="fas fa-om"></i>
    </a>
    </div>
</header>